/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/*Colours used: 
background and general dark green: #152d2e
light green font: #86A789
nav: #C4DFDF 
 
*/

body {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: "Open Sans", sans-serif;
  background-color: #152d2e;
  color: #dddddd;
}

a {
  color: #dddddd;
  text-decoration: none;
}

a:hover {
  color: #84a98c;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.rounded-border {
  border: 1px solid #ccc; /* Border color */
  border-radius: 10px; /* Border radius (curved edges) */
  padding: 15px; /* Padding inside the border */
  margin: 20px; /* Optional: Add some margin to separate it from other elements */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
    padding-top: 0px; /* Adjusted padding for smaller screens */
  }
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #86a789;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #c4dfdf;
  color: #000;
  border: none;
}
/* Adjust button group spacing */
@media (max-width: 575.98px) {
  .custom-btn-group button {
    margin-bottom: 10px;
  }
}
.custom-btn-group button {
  margin-right: 10px;
}
/* ----------------------- */
/* Portfolio Section */
/* ---------------------- */

#logos,
.logos {
  background-color: #84a98c !important;
}

.portfolio-bg {
  background-color: #84a98c !important;
}

.portfolio-btn {
  color: #152d2e;
  border: 1px solid #fff;
  min-width: 100px;
}

.portfolio-btn:hover {
  background-color: #152d2e !important;
  color: #84a98c;
  border: 1px solid #fff;
}

.btn-group-porfolio {
  margin: 0 auto;
}

.section-with-border {
  border: 1px solid #ccc; /* Border style */
  border-radius: 8px;
  padding: 20px; /* Add some padding for spacing */
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 996;
  width: 40px;
  height: 40px;
  background-color: #52796f;
  color: #fff;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: all 0.4s ease; /* Transition for smooth animation */
  display: flex;
  justify-content: center; /* Center icon horizontally */
  align-items: center; /* Center icon vertically */
  border-radius: 8px; /* Adjust border radius for a rounded square */
}

.back-to-top svg {
  width: 24px;
  height: 24px;
}

.back-to-top i {
  font-size: 24px; /* Adjust icon size */
}

.back-to-top:hover {
  background-color: #84a98c; /* Change background color on hover */
}

.back-to-top:hover i {
  color: #52796f; /* Change icon color on hover */
}

.back-to-top.active {
  visibility: visible; /* Show button when active */
  opacity: 1; /* Show button when active */
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  background: #fff;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid #e6f2fb;
}

#header.header-scrolled {
  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #52796f;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* General Navigation */
.nav-style,
.navbar-brand {
  background-color: #152d2e !important;
  color: #c4dfdf !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar {
  border-bottom: 1px solid #52796f;
  width: 100%;
  margin: 0 auto;
}

.navbar-nav {
  margin: 0 auto; /* Center the nav links */
  display: flex; /* Ensure the flex properties work */
  justify-content: center; /* Center the nav links horizontally */
}

.nav-link {
  color: #c4dfdf !important;
}

.navbar-toggler {
  background-color: #52796f;
}

/* Mobile Navigation */
@media (max-width: 768px) {
  .navbar {
    border-bottom: 1px solid #52796f;
    width: 100vw;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .navbar {
    border-bottom: 1px solid #52796f;
    width: 100vw;
    margin: 0 auto;
  }
}
/* Hero Section */
.hero {
  width: auto; /* Adjust as needed */
  border: none !;
  min-width: 100%; /* Ensure the hero fills the entire width of the viewport */
  min-height: 100vh; /* Use min-height instead of height to cover the entire viewport */
  position: relative;
  background-size: cover;
  overflow: hidden; /* Hide any content that overflows the container */
  z-index: 1; /* Ensure hero section appears above other elements */
}

/* .hero-bg {
  background-image: url("/assets/img/bg.jpg");
  background-size: cover;
  background-blend-mode: lighten;
} */

.hero-section {
  padding: 0;
}

.hero:before {
  content: "";
  background: #152d2e;
  position: absolute;
  top: 0; /* Adjusted to cover the entire hero section */
  left: 0;
  right: 0;
  bottom: 0;
}

.hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: #dddddd;
  font-family: "Poppins", sans-serif;
}

.hero h2 {
  color: #52796f;
  font-size: 22px;
}

.hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #52796f;
}

.hero .btn-get-started:hover {
  background: #84a98c;
}

.hero .icon-boxes {
  margin-top: 100px;
  height: fit-content;
  margin-bottom: 20px;
}

.icon-row {
  background-color: #52796f;
  padding: 50px;
}

.hero .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.hero .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.hero .icon-box .title a {
  color: #354f52;
  transition: 0.3s;
}

.hero .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.hero .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #354f52;
}

.hero .icon-box:hover {
  transform: scale(1.08);
}

.hero .icon-box:hover .title a {
  color: #84a98c;
}

/* Landscape orientation on mobile devices */
@media (max-width: 768px) and (orientation: landscape) {
  .logo,
  .hero-img {
    max-width: 60%; /* Adjust the percentage as needed */
  }
}

/* Essential Styles */
@media (max-width: 992px) {
  .hero .container {
    padding-bottom: 80px;
    height: auto; /* Remove the height restriction */
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 100vh; /* Adjust to ensure the hero fills the entire height */
  }

  .hero h1 {
    font-size: 24px; /* Adjust font size for smaller screens */
    line-height: 30px; /* Adjust line height for smaller screens */
  }

  .hero h2 {
    font-size: 16px; /* Adjust font size for smaller screens */
    line-height: 20px; /* Adjust line height for smaller screens */
  }

  .hero .container {
    padding-bottom: 50px; /* Adjust padding for smaller screens */
  }
}

/* Adjust image styles */
.logo,
.hero-img {
  max-width: 100%;
  height: auto;
  z-index: 1000;
  margin: 0 auto; /* Center the image horizontally */
  display: block;
}

@media (max-width: 768px) {
  .logo,
  .hero-img {
    max-width: 90%;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .logo,
  .hero-img {
    max-width: 25% !important; /* Adjust the percentage as needed */
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f8fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #354f52;
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #354f52;
}

/* Additional Styles for iPad Pro Landscape View */
@media (min-width: 1024px) and (max-width: 1366px) {
  section {
    max-width: 100vw;
  }
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background-color: #f8fbfe;
  color: #152d2e;
  padding-bottom: 0px;
}

/* Styles for content within the about section */
#about h3 {
  font-weight: 600;
  font-size: 26px;
}

#about ul {
  list-style: none;
  padding: 0;
}

#about ul li {
  padding-left: 28px;
  position: relative;
}

#about ul li + li {
  margin-top: 10px;
}

#about ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #2f3e46;
  line-height: 1;
}

#about p:last-child {
  margin-bottom: 0;
}

.about-border {
  border: 1px solid #84a98c;
  border-radius: 8px;
  /* border-bottom: 1px solid #84a98c; */
  /* width: 75%;
  margin: 0 auto; */
  padding: 20px;
}

/* Styles for the "Learn More" button */
.btn-learn-more,
.learn-more-mob {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #52796f;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #52796f;
  text-align: center !important;
}

.btn-learn-more:hover,
.learn-more-mob:hover {
  background: #2f3e46;
  color: #fff;
  text-decoration: none;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.feature-icon {
  background-color: #152d2e;
  color: #f8fbfe;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .learn-more-mob {
    display: block !important; /* Ensure the button is displayed as a block element */
    width: 75%;
    text-align: center !important; /* Align the text inside the button to the left */
    margin: 0 auto; /* Remove any margin */
  }

  .about-heading-mob {
    align-self: center !important;
    padding-top: 0;
  }

  .about-mob-styling {
    text-align: center !important;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  background-color: #f8f6f4;
  color: #152d2e;
}

.card-img-top {
  /* padding-top: 10px; */
  max-height: 400px; /* Set the desired height */
  object-fit: contain; /* Maintain aspect ratio while covering the container */
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-img-top-portfolio {
  padding-top: 40px !important;
  max-height: 400px !important; /* Set the desired height */
  object-fit: contain !important; /* Maintain aspect ratio while covering the container */
}

.services-alignment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .mob-services-padding {
    padding-top: 2rem;
  }
}

/* @media (max-width: 992px) {
  .mob-services-padding {
    padding-top: 2rem;
  }
} */

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
/* Base styles for col-lg-4 */
.team .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Styles for col-lg-4 p */
.team .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.team h2 {
  text-align: center !important;
}

/* Media query for desktop views */
@media (min-width: 992px) {
  .team .col-lg-4 p {
    min-height: 100px;
  }

  .team h2 {
    text-align: center !important;
  }
}

/*--------------------------------------------------------------
# Featurette
--------------------------------------------------------------*/
.featurette {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  color: #152d2e;
}

.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #152d2e;
}
@media (max-width: 768px) {
  .featurette-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .featurette img {
    margin-top: 20px;
  }
}

.album,
.featurette p {
  color: #152d2e;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}

.pricing .box h3 {
  font-weight: 400;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #124265;
}

.pricing .box h4 {
  font-size: 42px;
  color: #52796f;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #124265;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .box ul li {
  padding-bottom: 16px;
}

.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.pricing .box .btn-buy {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  color: #52796f;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 2px solid #52796f;
}

.pricing .box .btn-buy:hover {
  background: #52796f;
  color: #fff;
}

.pricing .featured {
  background: #52796f;
}

.pricing .featured h3,
.pricing .featured h4,
.pricing .featured h4 span,
.pricing .featured ul,
.pricing .featured ul .na {
  color: #fff;
}

.pricing .featured .btn-wrap {
  padding: 15px;
  text-align: center;
}

.pricing .featured .btn-buy {
  color: #fff;
  border: 2px solid #fff;
}

.pricing .featured .btn-buy:hover {
  background: #fff;
  color: #52796f;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  background-color: #eee;
  color: #152d2e;
}

.max-width-100 {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers its container */
}

/* Text & Button overlay on image*/
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    196,
    223,
    223,
    0.7
  ); /* Semi-transparent hex color #C4DFDF */
  padding: 20px; /* Add some padding to the overlay */
  border-radius: 10px; /* Add rounded corners */
  text-align: center; /* Center the content horizontally */
}

.contact-img-p {
  color: #627254; /* Dark Green (627254) text color */
  font-size: 18px; /* Adjust font size as needed */
  margin-bottom: 10px; /* Add some space below the paragraph */
}

/* Image alignment on large screens */
@media (min-width: 768px) {
  .mx-md-0 {
    margin-right: auto; /* Align to the right on medium screens and above */
  }
}

/* Custom Footer Styles */
.custom-footer {
  color: #444444;
  font-size: 14px;
  background: #f8fbfe;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

.custom-footer p {
  padding-top: 5px;
  margin-bottom: 0;
}

.social-buttons {
  margin-top: 20px;
}

.social-button {
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
  font-size: 20px; /* Adjust the font size as needed */
  color: #152d2e; /* Icon color */
  border-radius: 50%; /* Rounded shape */
  text-decoration: none;
  transition: color 0.3s;
}

.social-button:hover {
  color: #84a98c; /* Icon color on hover */
}

.container {
  position: relative;
}

.divider {
  border-top: 1px solid #ccc; /* Divider line style */
  margin-top: 20px; /* Adjust distance between paragraph and divider */
  margin-bottom: 20px; /* Adjust distance between divider and social buttons */
}
#contactFormDiv {
  overflow: hidden; /* Hide content when collapsed */
  height: 0; /* Initially collapsed */
  transition: height 0.3s ease; /* Smooth transition effect */
}

#contactFormDiv.expanded {
  height: 750px; /* Expanded height */
}

#iframeContainer {
  position: relative;
}

.close-form-btn {
  position: absolute;
  top: 5px; /* Adjust as needed */
  right: 5px; /* Adjust as needed */
  width: 40px;
  height: 40px;
  background-color: #52796f;
  color: #fff;
  transition: all 0.8s ease; /* Transition for smooth animation */
  display: flex;
  justify-content: center; /* Center icon horizontally */
  align-items: center; /* Center icon vertically */
  border-radius: 8px; /* Adjust border radius for a rounded square */
  border: none;
}

.close-form-btn:hover {
  background-color: #84a98c;
}

.close-form-btn svg {
  width: 24px;
  height: 24px;
}

/*--------------------------------------------------------------
# Cookie Consent
--------------------------------------------------------------*/
#cookieConsent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.content-wrapper {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

#cookieConsent p {
  margin: 0;
}

#cookieConsent button {
  margin-left: 10px;
}

#cookieConsent a {
  text-decoration: underline;
  color: blue;
  margin-left: 10px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -30px; /* Adjust to move the tooltip up */
  left: -120px; /* Adjust to move the tooltip to the left */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
